@import '../../styles/variables.scss';
@import '../../styles/mixins';

.container {
  position: relative;
  margin: 32px 0 0;
  width: 100%;
  @include media-query-sm {
    margin: 60px auto 0;
    max-width: 850px;
  }

  .previewMode {
    position: absolute;
    top: 0;
    right: 0;
    font-family: $heading-main;
    font-size: 1.5rem;
    color: $color-yellow;
  }

  .title {
    margin-top: 3rem;
    font-family: $heading-bold;
    font-size: 2.7rem;
    text-transform: uppercase;
    text-align: center;
    color: $color-green-1;
    @include media-query-sm {
      font-size: 3.2rem;
    }
  }

  .authorInfo {
    margin-top: 1rem;
    font-size: 0.875rem;
    text-align: center;
    color: $color-orange;
  }

  .contentContainer {
    position: relative;
  }

  .component {
    position: relative;
    z-index: 3;
    padding: 2.5rem 1.5rem 0;
    background-color: #fff;
    @include media-query-sm {
      padding: 3rem 4.5rem 0;
    }
    &:first-child {
      margin-top: 12 * $layout-unit-rem;
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
    }
    &:nth-last-child(3) {
      padding: 2.5rem 1.5rem 3rem;
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
      @include media-query-sm {
        padding: 3rem 4.5rem 5rem;
      }
    }

    h2 {
      margin: 6 * $layout-unit-rem 0 4 * $layout-unit-rem;
      font-family: $heading-bold;
      font-size: 1.5rem;
      text-transform: uppercase;
      text-align: center;
      color: $color-orange;
      @include media-query-sm {
        margin: 8 * $layout-unit-rem 0 6 * $layout-unit-rem;
        font-size: 1.8rem;
      }
      &:first-child {
        margin: 4 * $layout-unit-rem 0 4 * $layout-unit-rem;
        @include media-query-sm {
          margin: 6 * $layout-unit-rem 0 6 * $layout-unit-rem;
        }
      }
    }

    h3 {
      font-size: 1.1rem;
      color: $color-orange;
      @include media-query-sm {
        font-size: 1.3rem;
      }
    }

    p {
      margin-top: 1.5rem;
      font-size: 1rem;
      line-height: 1.2;
      text-align: justify;
      color: $primary-color-blue;
      @include media-query-sm {
        font-size: 1.125rem;
      }
      &:first-child {
        margin-top: 0;
      }

      strong {
        display: block;
        padding: 1rem 5rem;
        font-family: $heading-main;
        font-size: 1.7rem;
        line-height: 1.2;
        text-transform: uppercase;
        text-align: center;
        color: $color-green-1;
      }
    }

    h2 + p {
      margin-top: 0;
    }

    ul {
      font-size: 1rem;
      line-height: 1.2;
      text-align: justify;
      color: $primary-color-blue;
      @include media-query-sm {
        font-size: 1.2rem;
      }
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .figcaption {
      margin-top: 0.75rem;
      font-size: 0.8125rem;
      text-align: center;
      color: $primary-color-blue;
      @include media-query-sm {
        font-size: 0.9375rem;
      }
    }
  }

  .greenBackground {
    position: absolute;
    top: -20px;
    left: 8px;
    width: 100%;
    height: 100%;
    background-color: $color-green-1;
    border-radius: 24px;
    @include media-query-sm {
      top: -28px;
    }
  }

  .purpleBackground {
    display: none;
    position: absolute;
    top: -28px;
    left: 16px;
    width: 100%;
    height: 100%;
    max-height: 800px;
    background-color: $color-purple;
    border-radius: 24px;
    transform-origin: center center;
    transform: rotate(3deg);
    @include media-query-sm {
      display: block;
    }
  }
}
