@import '../../styles/variables.scss';
@import '../../styles/mixins';

.container {
  margin: 32px 0 0;
  @include media-query-sm {
    margin: 60px auto 0;
    max-width: 800px;
  }

  .title {
    margin-top: 1.5rem;
    font-family: $heading-main;
    font-size: 2.5rem;
    color: $color-yellow;
  }

  .authorInfo {
    margin-top: 1rem;
    font-size: 0.75rem;
    font-style: italic;
    color: #aaa5a7;
  }

  .content {
    margin-top: 4 * $layout-unit-rem;

    h2 {
      font-family: $heading-main;
      font-size: 1.8rem;
      color: #fff;
    }

    p {
      margin-top: 1.5rem;
      font-size: 1rem;
      line-height: 1.6;
      text-align: justify;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
