@import '../../styles/variables';
@import '../../styles/mixins';

.container {
  margin: 32px auto 0;
  max-width: 1000px;
  @include media-query-sm {
    margin: 64px auto 0;
  }

  .title {
    margin-top: 4 * $layout-unit-px;
    font-family: $heading-bold;
    font-size: 2.2rem;
    text-transform: uppercase;
    text-align: center;
    color: $color-green-1;
    @include media-query-sm {
      font-size: 2.7rem;
      text-align: left;
    }
  }

  h2 {
    margin-top: 2rem;
    font-family: $heading-main;
    font-size: 1.5rem;
    text-align: center;
    @include media-query-sm {
      font-size: 2rem;
      text-align: left;
    }
  }

  .cardsContainer {
    margin-top: 3 * $layout-unit-px ;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px 32px;
    justify-items: center;
    @include media-query-sm {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px 32px;
      justify-items: start;
    }
    @include media-query-md {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
