@import '../../styles/variables';

.container {
  margin: 60px 5% 0;

  .description {
    margin-top: 1.2rem;
    font-size: 0.875rem;
    text-align: justify;

    p {
      margin-top: 1rem;
      &:first-child {
        margin-top: 0;
      }
    }

    // TODO: à remplacer par une autre font bold
    strong {
      font-family: $heading-logo;
      font-size: 0.9375rem;
      letter-spacing: 0.5px;
    }
  }
}
