@import '../../styles/mixins.scss';

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  // padding-top is computed from component
  .main {
    flex-grow: 1;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2rem;
    @include media-query-sm {
      padding-left: 3rem;
      padding-right: 3rem;
      padding-bottom: 2rem;
    }
  }
}
