@import '../../styles/variables.module';

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2% 0;
  background-color: $primary-color-blue;

  nav {
    width: 100%;
  }
}
