@import '../../styles/variables';

.logo {
  margin: 0 auto;
}

.titleContainer {
  position: relative;

  .slogan {
    margin-top: 9 * $layout-unit-px;
    font-family: $heading-main;
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: center;
    color: $color-yellow;
  }

  .kiosque {
    position: absolute;
    top: -60px;
    right: 7%;
  }
}

.interrogation {
  margin-top: 8 * $layout-unit-px;
  margin-left: 10%;
  transform: translateY(-30px);
}
