@import '../../styles/variables';
@import '../../styles/mixins';

.container {
  margin-top: 32px;
  @include media-query-sm {
    margin-top: 48px;
  }

  .homePageLinkContainer {
    margin: auto;
    max-width: 1000px;
  }

  .title {
    margin-top: 6 * $layout-unit-px;
    font-family: $heading-bold;
    font-size: 2.2rem;
    text-transform: uppercase;
    text-align: center;
    color: $color-green-1;
    @include media-query-sm {
      font-size: 2.7rem;
    }
  }

  .megaphone {
    margin: 4 * $layout-unit-rem auto 0;
  }

  .description {
    margin: auto;
    max-width: 750px;
    text-align: justify;

    .highlights {
      margin-top: 10 * $layout-unit-rem;
      font-family: $heading-main;
      font-size: 1.7rem;
      line-height: 1.2;
      text-transform: uppercase;
      text-align: center;
      color: $color-orange;
    }

    .descriptionParts {
      margin: 6 * $layout-unit-rem auto 0;
      max-width: 600px;

      .descriptionPart {
        margin-top: 1rem;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  .teamTitle {
    margin-top: 8 * $layout-unit-rem;
    font-size: 1.7rem;
    text-align: center;
    color: $color-green-1;
    @include media-query-sm {
      margin-top: 12 * $layout-unit-rem;
      font-size: 2.2rem;
    }
  }

  .team {
    margin: 6 * $layout-unit-rem auto 0;
    @include media-query-sm {
      margin: 10 * $layout-unit-rem auto 0;
    }

    .contributor {
      max-width: 300px;
      @include media-query-md {
        max-width: 600px;
      }
    }

    .contributor1Container {
      display: flex;
      justify-content: center;
    }

    .otherMembers {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 8px 8px;
      justify-items: center;
      margin: 6 * $layout-unit-rem auto 0;
      max-width: 1300px;
      @include media-query-md {
        gap: 48px 8px;
        margin-top: 8 * $layout-unit-rem;
      }
      @include media-query-lg {
        grid-template-columns: repeat(2, 1fr);
      }

      .contributorContainer {
        margin-top: 6 * $layout-unit-rem;
        @include media-query-md {
          margin-top: 0;
        }
      }
    }
  }

  .logo {
    margin: 12 * $layout-unit-rem auto 6 * $layout-unit-rem;
  }
}
