@import '../styles/variables';
@import '../styles/mixins';

.container {
  margin-top: 5 * $layout-unit-px;
  @include media-query-sm {
    margin-top: 8 * $layout-unit-px;
  }
  @include media-query-md {
    margin-top: 10 * $layout-unit-px;
  }
  @include media-query-lg {
    margin-top: 110px;
  }
  
  .avantPropos {
    margin-top: 1.5rem;

    .description {
      margin-top: 1.2rem;
      font-size: 0.875rem;
      text-align: justify;
    }

    .descriptionPart {
      margin-top: 1rem;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
