@import '../styles/variables';
@import '../styles/mixins';

.container {
  margin-top: 5 * $layout-unit-px;
  @include media-query-sm {
    margin-top: 8 * $layout-unit-px;
  }
  @include media-query-md {
    margin-top: 10 * $layout-unit-px;
  }
  @include media-query-lg {
    margin-top: 10 * $layout-unit-px;
  }

  .contentCarouselCardsContainer {
    max-width: 1200px;
    margin: 0 auto;
  }
}
