.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 0;
}

.slogan {
  font-size: 2rem;
  // line-height: 1.15;
  text-align: center;
}

.description {
  margin: 4rem 0;
  font-size: 1rem;
  // line-height: 1.5;
  text-align: justify;
}
