.container {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.label, .input {
  font-size: 1.5rem;
  line-height: 1.5;
}

.label {
  margin-top: 1rem;
}

.label:first-child {
  margin-top: 0;
}

.errorMessage {
  margin: 0;
}

.submit {
  margin-top: 1rem;
}
