@import '../../styles/variables.scss';

.container {
  // Override Swiper Navigation custom properties
  --swiper-navigation-size: 32px;
  --swiper-navigation-sides-offset: 0;
  --swiper-navigation-color: #{$color-yellow};
  max-width: 1000px;
  margin: 0 auto;

  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h2 {
    margin-left: 42px;
  }

  .allPosts {
    display: flex;
    align-items: center;
    margin-right: 42px;

    .allPostsLink {
      margin-right: 0.5rem;
      font-family: $heading-main;
      font-size: 1.2rem;
      color: $color-yellow;
    }

    .triangle {
      width: 0;
      height: 0;
      border-top: 0.8rem solid transparent;
      border-left: 1.3rem solid #{$color-yellow};
      border-bottom: 0.8rem solid transparent;
    }
  }

  .carouselContainer {
    margin-top: 32px;
  }

  .slide {
    display: block;
    max-width: 250px;
    margin: auto;
    // &.events {
    //   max-width: 100px;
    // }

    .purpleRectangle {
      height: 250px;
      background-color: $color-purple;
    }

    .cardTitle {
      margin-top: 0.5rem;
      font-family: $heading-main;
      font-size: 1.5rem;
    }

    .cardExcerpt {
      margin-top: 0.5rem;
      font-size: 0.8rem;
      color: $color-green-2;
    }
  }
}
