@import './variables.module';

@font-face {
  font-family: 'VercettiRegular';
  src: url('../assets/fonts/Vercetti-Regular.woff2') format('woff2'),
       url('../assets/fonts/Vercetti-Regular.woff') format('woff'),
       url('../assets/fonts/Vercetti-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AkrobatThin';
  src: url('../assets/fonts/Akrobat-Thin.woff2') format('woff2'),
       url('../assets/fonts/Akrobat-Thin.woff') format('woff'),
       url('../assets/fonts/Akrobat-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'AkrobatBlack';
  src: url('../assets/fonts/Akrobat-Black.woff2') format('woff2'),
       url('../assets/fonts/Akrobat-Black.woff') format('woff'),
       url('../assets/fonts/Akrobat-Black.ttf') format('truetype');
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $body-main;
  font-size: 1rem;
  color: #fff;
  background-color: $primary-color-blue;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-family: $heading-main;
  font-size: 2rem;
  color: $color-purple;
  line-height: 1;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
