@import '../../styles/variables';

.navigationMenuRoot {
  position: relative;
  padding: 1.125rem 0.875rem;
  width: 100%;
  z-index: 1;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;

  .navigationMenuList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    list-style: none;
  }

  .navigationMenuItem {
    margin-left: 4.5rem;
    &:first-child {
      margin-left: 0;
    }

    .mainMenuLink {
      text-wrap: nowrap;
    }
  }

  .navigationMenuTrigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    font-size: 1rem;
    text-wrap: nowrap;
    color: #fff;
    cursor: pointer;
    &:hover,
    :active {
      color: $color-purple;
    }
  }

  .caretDown {
    position: relative;
    color: var(--violet-10);
    top: 1px;
    transition: transform 250ms ease;
  }
  [data-state='open'] > .caretDown {
    transform: rotate(-180deg);
  }

  .navigationMenuContent {
    position: absolute;
    // TODO: faire un calcul dynamique
    top: 43px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $primary-color-blue;


    .contentList {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.125rem 0.875rem;
      list-style: none;
      border-bottom: 1px solid #fff;
      &.articles {
        width: 95%;
      }
      &.audiovisual {
        width: 66%;
      }

      li {
        margin-left: 4.5rem;
        font-style: italic;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
  .navigationMenuContent[data-state='open'] {
    animation: scaleIn 200ms ease;
  }
  .navigationMenuContent[data-state='closed'] {
    animation: scaleOut 200ms ease;
  }
  @keyframes scaleIn {
    from {
      opacity: 0;
      transform: rotateX(-30deg) scale(0.9);
    }
    to {
      opacity: 1;
      transform: rotateX(0deg) scale(1);
    }
  }
  @keyframes scaleOut {
    from {
      opacity: 1;
      transform: rotateX(0deg) scale(1);
    }
    to {
      opacity: 0;
      transform: rotateX(-10deg) scale(0.95);
    }
  }
}
